/*
See the NOTICE file distributed with this work for additional information
regarding copyright ownership.

Licensed under the Apache License, Version 2.0 (the "License");
you may not use this file except in compliance with the License.
You may obtain a copy of the License at

http://www.apache.org/licenses/LICENSE-2.0

Unless required by applicable law or agreed to in writing, software
distributed under the License is distributed on an "AS IS" BASIS,
WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
See the License for the specific language governing permissions and
limitations under the License.
*/

/*
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    Nextflow config file for assembly metadata pipeline
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
*/



params {

    // Defult options
    ncbi_url = "https://api.ncbi.nlm.nih.gov/datasets/v2"
    help = false

    // Path to data files
    metadata_params = "$projectDir/data/metadata_params.json"
    db_table_conf = "$projectDir/data/db_table_conf.json"
    slack_user = "$projectDir/data/slack_user.json"

    // Input options
    output_dir = null
    //enscode = null
    full_screen = false
    gca_input = false
    gca_list = null
    // date format YYYY-MM-DD
    screen_date = null
    slack_report = false
    slack_params = null
    metadata_params_string = null

}

scratch = ''
workDir = ''

profiles {
    standard {
        executor {
            name = 'slurm'
            queueSize = 2000
            submitRateLimit = "10/1sec"
            queueGlobalStatus = true
            exitReadTimeout = "30 min"
        }
        process {
            clusterOptions = '-e errlog.txt'
        }
    }
}

process {
    cpus = 1
    memory = '500 MB'
    time = '60 min'

    withLabel: 'python' {
    maxForks = 10
    memory = { 1.GB * task.attempt }
    time = { 4.h * task.attempt }
    module = 'singularity-3.7.0-gcc-11.2.0-dtj2md2'
    container = 'python:3.9.19'
  }
}

dag {
  overwrite = true
}
