/* Loading button */
.st-emotion-cache-yfy5qy{
    border: none;
}

.st-emotion-cache-1dtefog{
    justify-content: center;
}

/* Get assemblies button aka action */
.st-emotion-cache-1yuud0z{
    color: #454759;
    font-weight: 600;
}

/*Top decorative bar */
.st-emotion-cache-1dp5vir{
    background-image: linear-gradient(90deg, #BC93F9, #F8F8F3);
}

/* Hide full screen button for placeholder image */
.st-emotion-cache-hyul7x{
    visibility: hidden;
}


